[Desktop Entry]
Name=SVG Cleaner
GenericName=SVG Cleaning Program
Comment=Batch, tunable SVG cleaning program
Exec=svgcleaner-gui
Icon=svgcleaner
Type=Application
Categories=Graphics;
